{% extends "kat_base.html" %}
{% block title %}Календарь соревнований{% endblock %}

{% block head %}
  <link href="/media/css/calendar.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block global_content %}

<a href= "{% url "month" year month "prev" %}">&lt;&lt; Prev</a>
<a href= "{% url "month" year month "next" %}">Next &gt;&gt;</a>

<h4>{{ mname }} {{ year }}</h4>

<div id="calendar">
    <table>

    <tr>
        <td class="cal-day">Mon</td>
        <td class="cal-day">Tue</td>
        <td class="cal-day">Wed</td>
        <td class="cal-day">Thu</td>
        <td class="cal-day">Fri</td>
        <td class="cal-day">Sat</td>
        <td class="cal-day">Sun</td>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onMouseOver="this.bgColor='#eeeeee';"
                onMouseOut="this.bgColor='transparent';"
            {% endif %} >

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                {{ day }}
                {% for entry in entries %}
                    <br />
                    <b>{{ entry.event_title }}</b>
                {% endfor %}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="clear"></div>
</div>
{% endblock %}