{% extends "kat_base.html" %}
{% load i18n inlines %}

{% block title %}{{ block.super }}{% trans "Article Detail" %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}inline_media/css/inline_media.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}prettyphoto-3.1.3/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
{#  <link rel="stylesheet" href="{{ STATIC_URL }}css/myinlines.css" type="text/css" media="screen" />#}
  <script type="text/javascript" src="{{ STATIC_URL }}inline_media/js/inline_media.js"></script>
  <script src="{{ STATIC_URL }}prettyphoto-3.1.3/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<h2 style="text-align:center">{{ object.article_title }}</h2>
<div class="inline_media_clearfix" style="width:540px; margin:10px auto">
  {{ object.article_abstract|render_inlines }}
</div>
<div style="font-size:.8em; text-align:center; font-style:italic">Published {{ object.article_publish_date }}</div>
<div class="inline_media_clearfix" style="width:640px; margin:10px auto">
  {{ object.article_body|render_inlines }}
</div>

<a href="{% url 'articles-index' %}">{% trans "back to the articles list" %}</a>
{% endblock %}