{% extends "kat_base.html" %}
{% load i18n inlines %}

{% block title %}{{ block.super }}{% trans "Article Detail" %}{% endblock %}

{% block content %}
<H2 style="text-align:center">{{ object.article_title }}</H2>
<div class="inline_media_clearfix" style="width:540px; margin:10px auto">
  {{ object.article_abstract|render_inlines }}
</div>
<div style="font-size:.8em; text-align:center; font-style:italic">Published {{ object.article_publish_date }}</div>
<div class="inline_media_clearfix" style="width:640px; margin:10px auto">
  {{ object.article_body|render_inlines }}
</div>

<a href="{% url 'articles-index' %}">{% trans "back to the articles list" %}</a>
{% endblock %}