{% extends "kat_base.html" %}

{% load i18n %}

{% block title %}404 Page Not Found{% endblock %}
{% block global_content %}

{#  <div class="wrapper row2">#}
{#    <div id="container" class="clear">#}
      <section id="error-page">
        <hgroup>
          <h1>404</h1>
          <h2>{% trans "Error !" %} <span>{% trans "Page Not Found." %}</span></h2>
        </hgroup>
        </br>
        <p>{% trans "For Some Reason The Page You Requested Could Not Be Found On Our Server" %} </p>
        <p><a href="/">{% trans "Go Home" %}</a></p>
      </section>
{#    </div>#}
{#  </div>#}

{% endblock %}