{% extends "kat_base.html" %}

{% load i18n %}

{% block title %}500 Internal error{% endblock %}
{% block global_content %}

  <div class="wrapper row2">
    <div id="container" class="clear">
      <section id="error-page" class="clear">
        <hgroup class="clear">
          <h1>404</h1>
          <h2>{% trans "Error !" %}<span>{% trans "Internal server error." %}</span></h2>
        </hgroup>
        <p>
          {% trans "There is a problem with the resource you are looking for, and it cannot be displayed." %}
			  </p>
        <p><a href="/">{% trans "Go Home" %}</a></p>
      </section>
    </div>
  </div>

{% endblock %}