<!DOCTYPE html>

<html>
	<head>
		<title>Kyiv Archery Team :: {% block title %}{% endblock %}</title>
      <script src="/media/js/jquery-latest.js"></script>
      <script src="/media/js/jquery.bxslider.min.js"></script>
      <script src="/media/js/logo.js"></script>
		  {% block head %}{% endblock %}
      <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"/>
      <link href="/media/css/jquery.bxslider.css" rel="stylesheet"/>
      <link href="/media/css/style.css" rel="stylesheet" type="text/css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% load staticfiles %}
	</head>
	<body>
    <script src="/media/bootstrap/js/bootstrap.js"></script>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <ul class="nav">
            <li ><a href="/news/">Главная</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Про Спорт</a>
                <ul class="dropdown-menu">
                  <li><a href="/disciplines/">Дисциплины</a></li>
                  <li><a href="/history/">История</a></li>
                  <li><a href="/development/">Развитие</a></li>
                  <li><a href="/rules/">Правила</a></li>
                  <li><a href="/articles/">Статьи</a></li>
                  <li><a href="/literature/">Литература</a></li>
                  <li><a href="/faq/">FAQ</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Соревнования</a>
              <ul class="dropdown-menu">
                <li><a href="/calendar/">Календарь</a></li>
                <li><a href="/ranking/">Рейтинг</a></li>
                <li><a href="/results/">Результаты</a></li>
                <li><a href="/records/">Рекорды</a></li>
                <li><a href="/qualifying/">Нормативы</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Организация</a>
                 <ul class="dropdown-menu">
                    <li><a href="/organization/">Про Нас</a></li>
                    <li><a href="/structure/">Структура</a></li>
                    <li><a href="/activities/">Деятельность</a></li>
                    <li><a href="/events/">События</a></li>
                 </ul>
            </li>
            <li ><a href="/forum/">Форум</a></li>
            <li ><a href="/photos/">Фото</a></li>
            <li ><a href="/contacts/">Контакты</a></li>
            <li ><a href="/links/">Ссылки</a></li>
          </ul>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
              <li><a href="/accounts/logout/">Sign Out</a></li>
              <li ><p class="navbar-text pull-right" style="margin-right: 20px;">Welcome, {{ user.username }}!</p></li>
            {% else %}
              <li><a href="/accounts/signup/">Get account</a></li>
              <li><a href="/accounts/login/">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
        <div class="row-fluid">
		    </div>
        <div class="main_container">
          <div class="logo-container">
            <ul class="bxslider noindent">
              <li><img class="center" src="{% static "kat_main_site/Logo1.jpg" %}" alt="Logo1"/></li>
              <li><img class="center" src="{% static "kat_main_site/Logo2.jpg" %}" alt="Logo2"/></li>
              <li><img class="center" src="{% static "kat_main_site/Logo3.jpg" %}" alt="Logo3"/></li>
            </ul>
          </div>
          <div class="span12">
            {% block global_content %}{% endblock %}
          </div>
{#            <div class="span8">#}
{#              {% block content %}{% endblock %}#}
{#            </div>#}
{#            <div class="span4">#}
{#                <div class="well">#}
{#                    Sidebar#}
{#                </div>#}
{#            </div>#}
        </div>
        <footer id="footer">
            Дизайн и реализация: 3PS. Copyright &copy; 2013, <a href="http://3ps.if.ua">3PS</a>.
        </footer>
    </body>
</html>