{% load pagination_tags %}
  {% autopaginate object_list 10 %}
    {% if object_list %}
        {% for object in object_list %}
          <h4><strong><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></strong></h4>
            {{ object.short|safe }} <small>[<a href="{{ object.get_absolute_url }}">читать полностью</a>]</small>
          <div>
            <span class="badge badge-success">{{ object.date|date:"d" }} {{ object.month }} {{ object.date|date:"Y" }}</span>
            <div class="pull-right">
			        {% if object.tags.all %}
				          {% for tag in object.tags.all %}
					          <a class="label label-warning" href="/news/tag/{{ tag.slug }}/">{{ tag.name }}</a>
				          {% endfor %}
        			{% endif %}
             </div>
          </div>
        <hr class="news-hr">
        {% endfor %}
	{% paginate %}
    {% else %}
        <div class="span7">Нет новостей</div>
    {% endif %}
