{% extends "kat_news/news_base.html" %}
{% block title %}Новости за {{ year }} год{% endblock %}
{% block content_title %}Новости за {{ year }} год{% endblock %}
{% block content %}
    {% include "kat_news/news_include.html" %}
    <div class="news-paginator">
		<ul>
        {% for date in date_list %}
            <li><a href="{% url "news_archive_month" date|date:"Y" date|date:"m" %}">{{ date|date:"F" }}</a></li>
        {% endfor %}
			<li><a href="{% url "news_archive_index" %}">Все новости</a></li>
		</ul>
    </div>
{% endblock %}
